---
import ArtDisplayer from '../components/ArtDisplayer'
import CardsDisplayer from '../components/CardsDisplayer'
import InclusionExamples from '../components/InclusionExamples'
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import { ChevronDown } from 'lucide-react'
---

<Layout>
  <Welcome />
  <ArtDisplayer client:load />
  <section
    class="grid-rows-[1fr, 100%] grid min-h-screen grid-cols-1 items-center justify-center text-stone-800"
  >
    <div class="mx-auto max-w-5xl p-2">
      <div class="grid items-center gap-16 md:grid-cols-2">
        <div class="relative aspect-[3/4]">
          <img
            class="object-cover"
            src="https://images.dafei.es/alan.avif"
            alt="Alan portrait"
          />
        </div>

        <article class="max-w-2xl space-y-6">
          <h1 class="font-serif text-3xl">Arte Sin Límites</h1>
          <p class="text-lg leading-relaxed text-gray-700">
            Alan es el único mexicano con síndrome de down que es reconocido a
            nivel internacional como artista plástico independiente y como tal,
            el mejor referéndum para inspirar y punta de lanza en sensibilizar a
            la sociedad.
          </p>
          <p class="text-lg leading-relaxed text-gray-700">
            El arte nos enseña que no hay límites para la creatividad, que cada
            persona tiene formas únicas de interpretar el mundo y compartir su
            visión, enriqueciendo la experiencia colectiva.
          </p>
          <p class="text-lg leading-relaxed text-gray-700">
            Crear oportunidades es esencial para garantizar que cada persona
            pueda desarrollar su potencial, superar barreras y contribuir de
            manera significativa a una sociedad más equitativa e inclusiva y la
            tecnología es una herramienta clave para lograrlo.
          </p>
        </article>
      </div>
    </div>
    <div class="flex min-h-full items-end justify-center">
      <ChevronDown className="size-8 animate-bounce sm:size-10" />
    </div>
  </section>
  <section class="mx-auto max-w-5xl px-6 py-20">
    <CardsDisplayer client:load />
  </section>
  <section class="mx-auto max-w-5xl px-6 py-20">
    <InclusionExamples client:load />
  </section>
</Layout>
